@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

// Font-Size
$font: (2, 3, 4, 6);
@each $fontsize in $font {
  .fs-#{$fontsize} {
    font-size: #{$fontsize}rem;
  }
}

// Margins
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .my-#{$space} {
    margin: #{$space}em 0;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}em;
  }
  .mt-#{$space} {
    margin-top: #{$space}em;
  }
  .p-#{$space} {
    padding: #{$space}em;
  }
}
