@import "config";

:root {
  --primary-color: #3a4052;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color)
      url("./https://traversymedia.com/downloads/cover.jpg") no-repeat center
      center/cover;
  }

  .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .video-container:after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
}

.content {
  z-index: 2;

  .weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;

    .section-date {
      // grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>;
      grid-area: 1/1/3/2;
      align-self: center;
    }
  }
  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
  }
  .card-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    .card {
      text-align: center;
      border: 2px solid white;
    }
    hr {
      border: 0;
      height: 1px;
      background: #ccc;
      background-image: linear-gradient(to right, #333, #ccc, #333);
    }
  }
}
